@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Roboto+Condensed:wght@300;400;700&family=Varela+Round&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed';
}

body{
    background: linear-gradient(45deg, #0a0a0a, #3a4452);
    background-repeat: no-repeat;
    background-size: contain;
}
.background{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg1{
    height: 740px;
    width: 250px;
    padding: 20px 20px;
    background-color: #131921;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}



.image {
    position: relative;
    justify-content: center;
    align-items: center;
    top: 5px;
    left: 0;
}
  
.image1 {
    position: relative;
    top: 0;
    left: 22px;
    width: 150px;
}
  
.image2 {
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 2px;
    left: 38px;
    width: 115px;
    border-radius: 50%;
    border: 1px solid #000000;
}

.heading{
    font-family: 'Roboto Condensed';
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgba(255, 162, 0, 0.968);
}

.para{
    font-family: 'Roboto Condensed';
    font-weight: 200;
    color: antiquewhite;
}

.list{
    font-family: 'Roboto Condensed';
    font-weight: 200;
    list-style-type: none;
    color: antiquewhite;
}
.list li:hover{
    transform: scale(1.01);
}


.contact{
    color: white;
}
.contact i{
    padding-right: 8px;
}
.contact a{
    font-weight: 200;
    line-height: 23px;
    text-decoration: none;
    font-family: 'Roboto Condensed';
    color: antiquewhite;
}


.bg2a{
    padding: 20px;
    height: 130px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 162, 0, 0.968);
    border-top-right-radius: 20px;
}


.bg2a h1{
    font-family: 'Roboto Condensed';
    font-weight: 900;
    font-size: 42px;
    letter-spacing: 2px;
    opacity: 1;
    /* animation: opacity 1.5s ease-in-out 2s infinite alternate-reverse; */
}
@keyframes opacity {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.6;
    }
    100%{
        opacity: 1;
    }
}

.bg2a h2{
    font-family: 'Roboto Condensed';
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1px;
}




.bg2b{
    padding: 20px;
    height: 610px;
    width: 400px;
    background-color: rgb(255, 221, 0);
    border-bottom-right-radius: 20px;
}

.bg2b h2{
    font-weight: 900;
    font-size: 27px;
    letter-spacing: 0.5px;
    padding: 10px 0px;
}

.future-plans ul{
    padding-bottom: 10px;
}
.future-plans ul li{
    list-style-type: none;
    font-size: 18px;
    font-weight: 500;
}
.future-plans ul li:hover{
    transform: scale(1.01);
}

.bg2b table{
    margin-bottom: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.525);
}
.bg2b table td{
    padding: 0px 5px;
}

.projects ul li{
    list-style-type: none;
}
.projects ul a{
    text-decoration: none;
    color: black;
    font-size: 17px; 
}
.projects ul li:hover{
    transform: scale(1.01);
}


@media screen and (max-width: 650px) {
    .bg1{
        width: 200px;
    }
    .bg2a{
        width: 300px;
    }
    .bg2b{
        width: 300px;
    }
    .heading{
        font-size: 20px;
    }
    .para{
        font-size: 15px;
    }
    .image1{
        left: 0px;
        width: 145px;
    }
    .image2{
        left: 20px;
    }
    .list li{
        font-size: 15px;
    }
    .contact a{
        font-size: 13px;
    }


    .bg2a h1{
        font-size: 35px;
    }
    .bg2a h2{
        font-size: 16px;
    }


    .bg2b h2{
        font-size: 21px;
    }
    .future-plans ul li{
        font-size: 16px;
    }
}


@media screen and (max-width: 500px) {
    .bg1{
        width: 170px;
    }
    .bg2a{
        width: 270px;
    }
    .bg2b{
        width: 270px;
    }
    .heading{
        font-size: 17px;
    }
    .para{
        font-size: 14px;
    }
    .image1{
        left: 0px;
        width: 135px;
    }
    .image2{
        left: 10px;
        width: 110px;
    }
    .list li{
        font-size: 14px;
    }
    .contact i{
        padding-right: 5px;
    }
    .contact a{
        font-size: 12px;
    }


    .bg2a h1{
        font-size: 32px;
    }
    .bg2a h2{
        font-size: 14px;
    }


    .bg2b h2{
        font-size: 18px;
    }
    .future-plans ul li{
        font-size: 16px;
    }
    .bg2b table td{
        padding: 0px 3px;
        font-size: 14px;
    }
    .bg2b table th{
        font-size: 15px;
    }
}




@media screen and (max-width: 431px) {
    .bg1{
        width: 130px;
        padding: 10px;
    }
    .bg2a{
        width: 230px;
    }
    .bg2b{
        width: 230px;
    }
    .image1{
        left: 0px;
        width: 110px;
    }
    .image2{
        left: 10px;
        width: 88px;
    }
    .heading{
        font-size: 16px;
    }
    .para{
        font-size: 12px;
    }
    .list li{
        font-size: 13px;
    }
    .contact i{
        padding-right: 5px;
    }
    .contact a{
        font-size: 10px;
    }


    .bg2a h1{
        font-size: 25px;
    }
    .bg2a h2{
        font-size: 13px;
    }


    .bg2b{
        padding: 5px;
    }
    .bg2b h2{
        font-size: 17px;
    }
    .future-plans ul li{
        font-size: 15px;
    }
    .bg2b table td{
        padding: 0px 3px;
        font-size: 14px;
    }
    .bg2b table th{
        font-size: 15px;
    }
}



@media screen and (max-width: 300px) {
    .bg1{
        width: 90px;
        height: 800px;
        padding: 5px;
    }
    .bg2a{
        width: 190px;
        height: 120px;
    }
    .bg2b{
        width: 190px;
        height: 680px;
        padding: 5px;
    }
    .image1{
        left: 0px;
        width: 80px;
    }
    .image2{
        left: 6px;
        width: 62px;
    }
    .heading{
        font-size: 15px;
    }
    .para{
        font-size: 12px;
    }
    .list li{
        font-size: 13px;
    }
    .contact i{
        padding-right: 5px;
    }
    .contact a{
        font-size: 10px;
        line-height: 15px;
    }


    .bg2a h1{
        font-size: 23px;
    }
    .bg2a h2{
        font-size: 13px;
    }


    .bg2b{
        padding: 5px;
    }
    .bg2b h2{
        font-size: 17px;
    }
    .future-plans ul li{
        font-size: 14px;
    }
    .bg2b table td{
        padding: 0px;
        font-size: 12px;
    }
    .bg2b table th{
        font-size: 12px;
    }
}
